*{
	margin: 0;padding: 0;box-sizing: border-box;
}
header{
	width: 100%; height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('t.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
nav{
	width: 100%; height: 15vh;
	background: #ff9900;
	color: #ff0066; display: flex; justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	}
nav .logo{
	width: 25%;
	text-align: center;
	color: #ffffff;
}
nav .menu{
	width: 35%;
	justify-content: space-around;
	display: flex;
}
nav .menu a{ 
	width: 25%; color: #ffffff;
	text-decoration: none;
}
nav .menu a:first-child{ color:#ffffff; }

main{
	width: 100%; height: 80vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
section h3{
	font-size: 35px; font-weight: 300; letter-spacing: 3px; word-spacing: 5px; color:#ff9900;
}
section h2{
	font-size: 35px; font-weight: 800; letter-spacing: 3px; word-spacing: 5px; color:#339933;
	margin: 15px 0px 15px 0px;
}

section p{
	font-size: 15px; font-weight: 600; letter-spacing: 3px; word-spacing: 5px;
	margin-bottom: 20px; color:#ff9900;
}
section a{
	font-size: 20px; font-weight: 800; letter-spacing: 3px; word-spacing: 5px;
	margin: 15px 0px 15px 0px;
	justify-content: space-between;
	padding: 10px 15px;
	word-spacing: 5px;
	text-align: center; text-decoration: none;
	align-items: center;
	transition: all .5s ease;
}
section .btnone{
	background: #ff9900;
	color:#ffffff;
}
.btnone:hover{
	background: #00b894;
	color: white;
}
section .btntwo{
	background: #339933;
	color:#000000;
}
.btntwo:hover{
	background: pink;
	color: #000;
}
section .change_content:after{
	content: '';
	animation: changetext 10s infinite linear;color: #cc33ff;
}
@keyframes changetext{
	0%{ content: "Ahmedabad"; }
	25%{ content: "Motera Stadium"; }
	45%{ content: "Agra"; }
	65%{ content: "New Delhi"; }
	85%{ content: "Sansad Bhawan"; }
}





